/* AddTodo.css */

.add-todo {
    display: flex;
    gap: 15px; 
    margin-top: 10px;
}

.add-todo input {
    flex: 1;
    padding: 5px;
    border-radius: 5%;
}

.add-todo button {
    padding: 5px 10px;
    background-color: rgba(16, 113, 240, 0.87);
    color: white;
    border-radius: 10%;
}